/* ----- Header Container ----- */
.header {
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: space-between;
  padding: 1em 2.5em;
  background-color: #ffffff7f;
  color: #4d4359;
  border-bottom: solid 3px white;
  box-shadow: 0 2px 15px 2px #ffffff;
}

/* ----- Title ----- */
.header__title-bar {
  display: flex;
  font-size: 1.6em;
  align-items: center;
}

.title {
  transition: text-shadow 0.3s ease;
  position: relative;
  text-shadow: 0 0 0 transparent;
  display: inline-block;
}

.title:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* ----- Header Price Box ----- */
.header__price-box {
 display: flex;
 flex-direction: column;
 align-items: center;
 font-size: 1.25em;

 .nav button {
  background-color: #ffffff5f;
  color: #625b66;
  border: none;
  border-radius: 50%;
  height: 5em;
  width: 5em;
  margin-top: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: box-shadow 0.3s ease;
  box-shadow: 0 0 0 transparent;
 }

 .nav button:hover {
  cursor: pointer;
  text-align: center;
  border: rgb(68, 53, 123) 3px solid;
  box-shadow: 0 0 5px 5px rgba(171, 146, 187, 0.542);
 }

 .nav .button__set-view {
  padding: 5px;
 }
}
